/*

Universal selector
* {
    color: red;
    margin: 0;
    padding: 0;
}
*/

/* Web Fonts ----------------------- */

@font-face {
/*    naming font family*/
    font-family : "my-font-face";
      src: url('../fonts/abolition-regular-webfont.eot');
      src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
    
        
}

* {
    box-sizing: border-box;
}

/* Base Styles ------------------ */
body {
    color: #878787;
    margin: 0;
/*    font-size: 150%;*/
    
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    
/*    shor-hand font */
    font: normal 1em/1.5 Helvetica, Arial, sans-serif;
/*    font: font-weight font-size/line-height font-family */
    
/*    max-width: 1060px;*/
}


h1 {
    font-size: 5.625em; /* 90/16 to 5.625em*/
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8),
                0 2px 1px rgba(255, 255, 255, 0.8);
    
    margin: 12px 0 0 0;
    
}

h2 { font-size: 53px;
    line-height: 1.1;
    margin-bottom: .5em; /* 26px */
}

h3 {
    font-size: 20px;
    color: #48525c;
    
    margin-bottom: 1.7em; /* 34px */
}

h1,
h2 {
    font-family: my-font-face;
}

img { max-width: 100%; border-radius: 10px;}

ul,
ol{
    margin: 30px 0;
}

li{ margin-bottom: 10px;}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

/* Main Styles ------------- */

.main-header {
/*    background-color: orange;*/
    height: 850px;
    padding-top: 170px;
/*
    background: url('../img/mountains.jpg');
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
*/
    background: linear-gradient(#ffa949,transparent 90%),  linear-gradient(#fff,transparent),url('../img/mountains.jpg') no-repeat center;
   background-size: cover;
    
    
    
}

.title {
    color: white;
    font-size: 1.625em; /* 26/16 to 1.625em*/
    letter-spacing: 0.065em;
    font-weight: 200;
    border-bottom: 1px solid;
    padding-bottom: 10px
}

.intro {
    font-size: 1.25em; /* 20/16 px */
    line-height: 1.6;
}





.primary-content,
.main-header,
.main-footer{
    text-align: center;
}

.primary-content {
    padding-top: 25px !important;
    padding-bottom: 95px !important;
}

.secondary-content {
    padding: 80px 0 70px 0  !important ;
    border-bottom: 2px solid #dfe2e6;
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block
        
}

.t-border {
    border-top: 2px solid lightgrey;
}

.primary-content, .secondary-content {
    max-width: 960px;
    padding-left: 50px !important;
    padding-right: 50px !important;
    margin: 0 auto;
}

/* ID selector */
#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 10px solid orange;
    
}


/* Pseodo class*/


/* Layout styeles ------------- */

.wild-life {
    color: white;
    background-color: #435a52;
    padding: 100px 120px;
    margin: 106px 0 60px;
    border-top: 10px solid #ffa949;
    background: url('../img/bear.jpg') no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 10px 10px   rgba(0,0,0,.8), 0 0 5px rgba(0,0,0,1);
    border-radius: 50px 10px 50px 10px;
    border-radius: 10px;
     
}

.arrow{
    width: 50px;
    margin-top: 150px;
}

/* Flowted Columns ------------- */

.resorts,
.tips {
    width: 46.5%;
    border-radius: 10px;
}

.tips { float: left;}
.resorts { float: right;}


/* Float ClearFix ------------- */

.group:after {
    content: "";
    display: table;
    clear: both;
}